* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}

/* Clase del header */
header {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

.logo-header {
  position: relative;
  right: 20px;
}


.logo-header img {
  width: 50px;
}

.nav-menu ul {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-right: 1rem;
}

.nav-menu a {
  color: #fff;
}

.nav-menu li:last-child {
  background: #4ad295;
  padding: .25rem .75rem;
  border-radius: .2rem;
}

.menu-icon img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.menu-icon,
#check {
  display: none;
}


/* Clase de la imágen principal */
.hero-image{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://scontent.fnqn9-1.fna.fbcdn.net/v/t1.18169-9/1396009_10151730733809091_1397458296_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeF0zdB0hTkQrUxy855sFDAlREPSPUfPd9VEQ9I9R8931cinZ0_Cf4xuXh8LxImutVswaKoJMbDShaoNnR3OrvYE&_nc_ohc=yMEgVorRmQoAX-JWtXM&_nc_ht=scontent.fnqn9-1.fna&oh=00_AfAgmBHPPTFH_3Wax6Dn_TeWAVf4JkTuK7wtzo8Eq997bQ&oe=63B597EB) ;
  height: 110vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


/*  CAROUSEL DE IMÁGENES  */ 

.carousel {display: none}
img {vertical-align: middle;}

/* Contenedor de carousel */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: 1rem;
margin-left: 10%;
}

/* Botones siguiente y atrás */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Posición del botón derecho */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/*  */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Diseño del texto */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}


/* Puntitos de posición de imágenes */
.punto {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .punto:hover {
background-color: #717171;
}

/* Animación de desaparición */
.desteñir {
animation-name: desteñir;
animation-duration: 1.5s;
}

@keyframes desteñir {
from {opacity: .4} 
to {opacity: 1}
}

/* Achicar cuando la pantalla es más pequeña */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

/* FIN BLOQUE CAROUSEL DE IMÁGENES */


@media (max-width:768px) {
  .checkbtn {
      display: block;
  }
  .menu-icon {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer;
  }
  .nav-menu ul {
      display: block;
      position: fixed;
      top: 70px;
      left: 100%;
      background: #222;
      width: 100%;
      height: 100vh;
      right: 0;
  }
  .nav-menu ul li {
      padding: 2rem;
      display: flex;
      justify-content: center;
      margin: 0;
  }
  .nav-menu ul li:last-child {
      background: none;
      padding: 1rem;
  }
  #check:checked~ul {
      left: 0;
      transition: all .25s;
  }
}

.service {
color: #f2f2f2;
font-size: 5px;
padding: 8px 12px;
position: relative;
bottom: 8px;
width: 100%;
text-align: left;

}


/* FOOTER */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body {
font-family: "Source Sans Pro", sans-serif;
font-weight: 300;
background-color: lightblue;
color: #fff;
}
section {
text-align: center;
}
.footer #button {
width: 35px;
height: 35px;
border: #727172 12px solid;
border-radius: 35px;
margin: 0 auto;
position: relative;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.footer #button:hover {
width: 35px;
height: 35px;
border: #3a3a3a 12px solid;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
position: relative;
}
.footer {
bottom: 0;
left: 0;
position: fixed;
width: 100%;
height: 2em;
overflow: hidden;
margin: 0 auto;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
z-index: 999;
}
.footer:hover {
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
height: 10em;
}
.footer #container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #3a3a3a;
margin-top: 5px;
}
.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}
.footer h3 {
  font-family: "Helvetica";
  font-size: 30px;
  font-weight: 100;
  margin-top: 70px;
  margin-left: 40px;
}
